.section {
    background-color: #222;
    box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
}

.section__title {
    color: #ccc;
    padding: 20px;
    box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
}

.section__discription {
    color: #333;
    background-color: #ccc;
    padding: 40px;
}

.section__discription:hover {
    background-color: hsl(0, 0%, 85%);
}

.section__pepinieraMeaning {
    margin: 50px 0;
    font-size: 28px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
}

.footer {
    font-size: 18px;
    text-align: center;
    color: #eee;
    padding: 40px;
    background-color: #222;
}